---
import "./aside_media.css";

const {
    src,
    alt = "",
    side = "right", // "right" | "left"
    img_x_offset = "center",
    img_y_offset = "center",
    width = "clamp(14rem, 24vw, 22rem)",
    type = "img",   // "img" | "video"
    caption
} = Astro.props;
---

<div class:list={['not-prose','media-container', side === 'left' ? 'media-left' : 'media-right']}>
    <img src={src} alt={alt} class="media-img" style={`--obj-x: ${img_x_offset}; --obj-y: ${img_y_offset};`}/>
    <div class="media-content">
        <slot />
    </div>
</div>
