---
import Base from "../layouts/base.astro";
import PostCard from "../components/post_card.astro";
import Hero from "../components/hero/hero.astro";
import {getCollection} from "astro:content";

const posts = await getCollection("blog");
// Demo content (swap for Content Collections)

const url = "https://limecoder.com";
const description = "Lime Coder is a personal blog dedicated to programming and other artistic interests.";
---


<Base title="Lime Coder" url={url} description={description}>
    <Hero />

        <!--<section-->
        <!--        class="relative w-full overflow-hidden-->
        <!--   h-40 sm:h-48 md:h-56-->
        <!--   bg-[url('/images/header/lime_angel_header.png')] bg-cover "-->
        <!--        style="background-repeat: no-repeat;"-->
        <!--&gt;-->
        <!--    &lt;!&ndash; gradient overlay &ndash;&gt;-->
        <!--    <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-black/10"></div>-->

        <!--    &lt;!&ndash; bottom-aligned title &ndash;&gt;-->
        <!--    &lt;!&ndash;<div class="absolute inset-x-0 bottom-0 p-6 sm:p-1">&ndash;&gt;-->
        <!--    &lt;!&ndash;    <h1 class="font-display text-2xl sm:text-4xl text-white max-w-4xl">&ndash;&gt;-->
        <!--    &lt;!&ndash;        Sharp notes on RF, infra, and code.&ndash;&gt;-->
        <!--    &lt;!&ndash;    </h1>&ndash;&gt;-->
        <!--    &lt;!&ndash;</div>&ndash;&gt;-->
        <!--</section>-->


    <section class="mt-8 grid gap-6">
        {posts.map(({ slug, data }) => (
                <PostCard
                        href={`/blog/${slug}/`}
                        {...data}
                />
        ))}
    </section>
</Base>